.searchForm {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

button {
  height: 32px;
  width: 80px;

  border: none;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
}
.btnSearch {
  background:  #766AFF;
  /* color: #ffe81f; */

}
.btnError {
  background: #F35151;
}
input[type="search"] {
  color: #fff;
  background: #000000c4;
  border: 2px solid #766aff;
  border-radius: 4px;
}

.planets {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.planetCard {
  background-image: linear-gradient(#f7f5f9, #e5e0fd );
  border-radius: 4px;
  overflow: hidden;
}

.planetView {
  position: relative;
}

.planetImage {
  width: 244px;
  height: 244px;
}

.ItemName {
  position: absolute;
  bottom: 4px;
  padding: 4px;
  width: 100%;

  text-align: center;
  color: white;
  background-color: #0f0f0fdb;
  font-weight: 600;
}

.ItemInfo {
  padding: 6px 12px;
  font-size: 12px;
  color: #070606;
}

.SelectItemsNumber {
  margin: 2rem 0;
}

.SelectLabel {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;

  display: flex;
  align-items: center;
}

.SelectItemsPerPage {
  color: #fff;
  border:1px solid #766AFF;
  background: #9187fe;
  padding: 4px;
  border-radius: 4px;
  margin-left: 1rem;
}
ul.pagination {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.pagination li {
  width: 24px;
  height: 24px;
  margin-top: 2rem;
  background: #766AFF;
  border-radius: 4px;
  text-align: center;
}
.pagination a {
  color: #fff;
  text-decoration: none;
}

